<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.zolax9.terri_fried" android:versionCode="2" android:versionName="1.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Terri-Fried" android:icon="@drawable/Icon"></application>
</manifest>